In [1]:
import pandas as pd

In [2]:
def data_frame_creation():
    data = {
        'Age': [25, 36, 30, 27, 38, 42, 34],
        'Salary': [42000, 50000, 45000, 43000, 51000, 62000, 48000]
    }
    df = pd.DataFrame(data)
    return df

In [3]:
def standardization(df, feature):
    mean = df[feature].mean()
    std_dev = df[feature].std()
    return (df[feature] - mean) / std_dev

In [4]:
def main():
    df = data_frame_creation()
    standardized_age = standardization(df, 'Age')
    standardized_salary = standardization(df, 'Salary')
    print("Standardized Age:\n", standardized_age)
    print("Standardized Salary:\n", standardized_salary)

In [5]:
if __name__ == '__main__':
    main()

Standardized Age:
 0   -1.330145
1    0.466718
2   -0.513389
3   -1.003443
4    0.793420
5    1.446825
6    0.140015
Name: Age, dtype: float64
Standardized Salary:
 0   -0.990994
1    0.189765
2   -0.548209
3   -0.843399
4    0.337360
5    1.960903
6   -0.105425
Name: Salary, dtype: float64